@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

/* semakin besar semakin terang */
:root {
  --neutral-100: #000000;
  --neutral-200: #191b23;
  --neutral-300: #434655;
  --neutral-400: #737686;
  --neutral-500: #c3c6d7;
  --neutral-600: #ededf9;
  --neutral-700: #f3f3fe;
  --neutral-800: #ffffff;

  --primary-100: #004ac6;
  --primary-200: #2563eb;
  --primary-300: #b4c5ff;
  --primary-400: #dbe1ff;
  --primary-500: #e2e8f0;

  --secondary: #fd761a;

  --error-100: #93000a;
  --error-200: #ba1a1a;
  --error-300: #ffdad6;

  --success-100: #15803d;
  --success-200: #d6ffd7;
}

.dark {
  /*Ini kalau mau diimplement dark mode bisa diisi2 pake apapun yg ada */
}

@theme {
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);

  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);

  --color-secondary: var(--secondary);

  --color-error-100: var(--error-100);
  --color-error-200: var(--error-200);
  --color-error-300: var(--error-300);

  --color-success-100: var(--success-100);
  --color-success-200: var(--success-200);
}

@layer base {
  body {
    @apply bg-primary-500 text-neutral-200;
  }
  html {
    font-family: "Plus Jakarta Sans", Fantasy;
  }
}
